alembic==1.6.5
blinker==1.4
cffi==1.14.5
click==8.0.1
Flask==2.0.1
numpy
tensorflow
greenlet==1.1.0
gunicorn==20.1.0
importlib-metadata==4.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.4
MarkupSafe==2.0.1
py-healthcheck==1.10.1
pycparser==2.20
python-dateutil==2.8.1
python-dotenv==0.17.1
python-editor==1.0.4
six==1.16.0
typing-extensions==3.10.0.0