<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Image Captioning
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item class="languageContainer">
    <ion-label>Language</ion-label>
    <ion-select [(ngModel)]="currentLanguage" (ionChange)="onLanguageChange()" placeholder="Select One" interface="popover">
      <ion-select-option *ngFor="let language of languages" [value]="language">
        {{language.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <img [src]="photo">

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>  
</ion-content>
