#backgroundImg {
  position: fixed;
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 40%;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#cameraBtnBackground {
  position: absolute;
  z-index: 0;
  margin-top: 10%;
  width: 80%;
  height: 65%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: var(--ion-color-light);
  border-radius: 6px;
}

#cameraBtn {
  position: relative;
  z-index: 2;
  margin:0;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  opacity: 0.8;
  border-style: dashed;
  border-width: 5px;
  border-color: var(--ion-color-medium);
}



#cameraIcon {
  font-size: 5rem;
}

.languageContainer {
  width: 15rem;
  margin: 1rem auto;
  border-radius: 1rem;
}
.image-container {
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
  border-radius: 1rem;
}