<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Image Captioning
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-img id="backgroundImg" src="../assets/background.jpg"></ion-img>

  <ion-item class="languageContainer">
    <ion-label>Language</ion-label>
    <ion-select [(ngModel)]="currentLanguage" (ionChange)="onLanguageChange()" placeholder="Select One" interface="popover">
      <ion-select-option *ngFor="let language of languages" [value]="language">
        {{language.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>


  <ion-fab id="cameraBtnBackground">
    <!--<img [src]="photo" id="imgPreview" vertical="center" horizontal="center"> -->
    <ion-button id="cameraBtn" (click)="takePicture()">
      <ion-icon id="cameraIcon" name="camera"></ion-icon>
    </ion-button>
  </ion-fab>  
</ion-content>
